
body {

}
.tictactoe {
  display: block;
}

.grid-container {
  display: grid;
  grid-template-columns: 15vw 15vw 15vw;
  grid-template-rows: 15vw 15vw 15vw;
}

.grid-container > div {
  border: solid black 1px;
  font-size: 13vw;
  text-align: center;
}
nav {
	width: 100%;
  margin: 0;
  padding: 0;
	display: block;
position: fixed;
	height: 70px;
  background-color: black;
}
nav ul {
  margin: 0;
}
nav ul li {
  float: left;
  display: inline;
  width: 120px;
  line-height: 70px;
  text-align: center;
  font-size: 18px;
  color: grey;
}
nav ul li:hover {
/*  border-top: solid #4dc2f9 2px;
  background: linear-gradient( #4dc2f96b, #4dc2f905)
  */
  color: white;
}
